<!DOCTYPE html>

{% load static %}

<html>
<head>
    <title>Visitors Log</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <section class="header">
        <h1>OJO ENGINEERING LIMITED</h1>
        <h3>Amazon Site, Maitama, Abuja</h3>
    </section>
    <section class="body">
        <h2>Visitors Log</h2>
        <ul>
            {% for visitor in visitors %}
                <li>{{ visitor.name }} - {{ visitor.arrival_time }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'logapp:visitor_sign_in' %}"><button class="site" type="submit">Add      Visitor +</button>
        </a>
    </section>
</body>
</html>
